<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>华云-研发管理信息系统</title>
        <script src="http://oog4yfyu0.bkt.clouddn.com/echarts.min.js"></script>
        <script src="http://oog4yfyu0.bkt.clouddn.com/echarts-gl.js"></script>
        <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
        <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
        <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/wordcloud.js"></script>
    </head>

    <style type="text/css">
        div-center { text-align:center; }
        #wrap {
            margin-left:auto;
            margin-right:auto;
            text-align:center;
            width:80%;
            position:relative;
        }
        #subwrap {
            width: 100%;
            float: center;
        }
        div {
            #left, #middle, #right {
                float: left;
                width: 33%;
        }
        p-sw { color:rgb(80%,10%,10%); }
    </style>

    <body>
        <div class="head" id="A1">
            <div style="text-align:center">
                <h1><b>信息总览</b></h1>
                <h7>数据期间：2018年1月1日 至今</h7>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <h2>项目综合</h2>
                        <hr>
                        <table border="2">
                            <tr style="text-align:left">
                                <th width="50px"></th>
                                <th width="300px">项目总数</th>
                                <th width="300px">进入运维</th>
                                <th width="300px">已交付</th>
                                <th width="300px">在建和验收中</th>
                                <th width="300px">其它（含跟进和暂停等）</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b style="color:#F00">{{ pjStat["total"] }}</b></td>
                                <td>{{ pjStat["op"] }}</td>
                                <td>{{ pjStat["done"] }}</td>
                                <td>{{ pjStat["ing"] }}</td>
                                <td>{{ pjStat["pre"] }}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>产品综合</h2>
                        <hr>
                        <table border="2">
                            <tr style="text-align:left">
                                <th width="50px"></th>
                                <th width="300px">货架上的产品数</th>
                                <th width="300px">研发过程中的</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b style="color:#F00">{{ pdStat["total"] }}</b></th>
                                <td>{{ pdStat["ing"] }}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>资源综合</h2>
                        <hr>
                        <div><h3>资源统计：</h3></div>
                        <table border="2">
                            <tr style="text-align:left">
                                <th width="50px"></th>
                                <th width="300px">在册人数（人）</th>
                                <th width="300px">员工占比</th>
                                <th width="300px">工作量（工时）</th>
                                <th width="300px">工时成本（万元）</th>
                                <th width="300px">效率</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{{ taskStat["persion_count"] }}</td>
                                <td>{{ taskStat["persion_ratio"] }}%</td>
                                <td style="text-align:right">{{ hrStat["cost_time"] }}</td>
                                <td style="text-align:right"><b style="color:#F00">{{ hrStat["cost"] }}</b></td>
                                <td>{{ hrStat['ratio'] }}%</td>
                            </tr>
                        </table>
                        <div><h3>资源明细：</h3></div>
                        <table border="2">
                            <tr style="text-align:left">
                                <th width="50px"></th>
                                <th width="300px">部门</th>
                                <th width="300px">资源（人）</th>
                                <th width="300px">任务（个）</th>
                                <th width="300px">工作量（工时）</th>
                                <th width="300px">工时成本（万元）</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>产品部</b></td>
                                <td>{{ taskStat["pd_persion"] }}</td>
                                <td>{{ taskStat["pd_count"] }}</td>
                                <td style="text-align:right">{{ taskStat["pd_cost_time"] }}</td>
                                <td style="text-align:right"><b style="color:#F00">{{ taskStat["pd_cost"] }}</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>业务部门</b><br><a>资源范围：{{ taskStat["pj_group"] }}</a></td>
                                <td>{{ taskStat["pj_persion"] }}</td>
                                <td>{{ taskStat["pj_count"] }}</td>
                                <td style="text-align:right">{{ taskStat["pj_cost_time"] }}</td>
                                <td style="text-align:right"><b style="color:#F00">{{ taskStat["pj_cost"] }}</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>研发管理与测试部</b></td>
                                <td>{{ taskStat["rdm_persion"] }}</td>
                                <td>{{ taskStat["rdm_count"] }}</td>
                                <td style="text-align:right">{{ taskStat["rdm_cost_time"] }}</td>
                                <td style="text-align:right"><b style="color:#F00">{{ taskStat["rdm_cost"] }}</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>总计</b></td>
                                <td>{{ taskStat["persion_total"] }}</td>
                                <td>{{ taskStat["count_total"] }}</td>
                                <td style="text-align:right">{{ taskStat["cost_time_total"] }}</td>
                                <td style="text-align:right"><b style="color:#F00">{{ taskStat["cost_total"] }}</b></td>
                            </tr>
                        </table>
                        <div><h3>产品部支撑项目情况：</h3></div>
                        <table border="2">
                            <tr style="text-align:left">
                                <th width="50px">
                                </th>
                                <th width="300px">类别</th>
                                <th width="300px">工作量（工时）</th>
                                <th width="300px">工时成本（万元）</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>项目上（含立项和跟进的）</td>
                                <td style="text-align:right">{{ hrStat["pd_cost_time"] }}</td>
                                <td style="text-align:right"><b style="color:#F00">{{ hrStat["pd_cost"] }}</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>非项目上</td>
                                <td style="text-align:right">{{ hrStat["pd_n_cost_time"] }}</td>
                                <td style="text-align:right"><b style="color:#F00">{{ hrStat["pd_n_cost"] }}</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>总计</b></td>
                                <td style="text-align:right">{{ hrStat["pd_cost_time_total"] }}</td>
                                <td style="text-align:right"><b style="color:#F00">{{ hrStat["pd_cost_total"] }}</b></td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>任务综合</h2>
                        <hr>
                        <table border="2">
                            <tr style="text-align:left">
                                <th width="50px">
                                </th>
                                <th width="300px">任务总数</th>
                                <th width="300px">已完成</th>
                                <th width="300px">耗时（工时）</th>
                                <th width="300px">工时成本（万元）</th>
                                <th width="300px">完成率</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b style="color:#F00">{{ taskStat["total"] }}</b></td>
                                <td>{{ taskStat["done"] }}</td>
                                <td style="text-align:right">{{ taskStat["cost_time"] }}</td>
                                <td style="text-align:right"><b style="color:#F00">{{ taskStat["cost"] }}</b></td>
                                <td>{{ taskStat['ratio'] }}%</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th width="100px"></th>
                                <th>{{ persionTask | safe }}</th>
                                <th width="20px"></th>
                                <th>{{ dateTask | safe }}</th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>差旅综合</h2>
                        <hr>
                        <table border="2">
                            <tr style="text-align:left">
                                <th width="50px"></th>
                                <th width="300px">差旅总次数（人次）</th>
                                <th width="300px">总费用（万元）</th>
                                <th width="300px">差旅费借款（万元）</th>
                                <th width="300px">机票费（万元）</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b style="color:#F00">{{ tripStat["total"] }}</b></td>
                                <td style="text-align:right"><b style="color:#F00">{{ tripStat["totalcost"] }}</b></td>
                                <td style="text-align:right">{{ tripStat["loan"] }}</td>
                                <td style="text-align:right">{{ tripStat["ticket"] }}</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th width="50px"></th>
                                <th>{{ trip | safe }}</th>
                                <th width="20px"></th>
                                <th>{{ planeTicket | safe }}</th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>考勤综合</h2>
                        <hr>
                        <table border="2">
                            <tr style="text-align:left">
                                <th width="50px"></th>
                                <th width="300px">到岗人数</th>
                                <th width="300px">人月工时成本（万元）</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{{ checkStat['total'] }}</td>
                                <td style="text-align:right"><b style="color:#F00">{{ checkStat['cost'] }}</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th width="50px"></th>
                                <th>{{ chkonam | safe }}</th>
                                <th width="8px"></th>
                                <th>{{ chkonpm | safe }}</th>
                                <th width="8px"></th>
                                <th>{{ chkonwork | safe }}</th>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <div id="wrap">
            <div id="subwrap"><b>版权：</b>中电科华云信息技术有限公司</div>
        </div>
    </body>

</html>
