<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>华云-研发管理信息系统</title>
        <script src="http://oog4yfyu0.bkt.clouddn.com/echarts.min.js"></script>
        <script src="http://oog4yfyu0.bkt.clouddn.com/echarts-gl.js"></script>
        <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
        <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
        <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/wordcloud.js"></script>
    </head>

    <style type="text/css">
        div-center { text-align:center; }
        #wrap {
            margin-left:auto;
            margin-right:auto;
            text-align:center;
            width:80%;
            position:relative;
        }
        #subwrap {
            width: 100%;
            float: center;
        }
        div {
            #left, #middle, #right {
                float: left;
                width: 33%;
        }
        p-sw { color:rgb(80%,10%,10%); }
    </style>

    <body>
        <div class="head" id="A1">
            <div style="text-align:center">
                <h1><b>信息总览</b></h1>
                <h7>数据期间：2018年1月1日 至今</h7>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <h2>项目综合</h2>
                        <hr>
                        <table>
                            <tr style="text-align:left">
                                <th width="300px">
                                    <h3>项目总数：<b style="color:#F00">{{ pjStat["total"] }}</b></h3>
                                </th>
                                <th width="300px">
                                    <h4>交付：<b>{{ pjStat["done"] }}</b></h4>
                                </th>
                                <th width="300px">
                                    <h4>在建：<b>{{ pjStat["ing"] }}</b></h4>
                                </th>
                                <th width="300px">
                                    <h4>跟踪：<b>{{ pjStat["pre"] }}</b></h4>
                                </th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>产品综合</h2>
                        <hr>
                        <table>
                            <tr>
                                <th width="300px">
                                    <h3>货架产品总数：<b style="color:#F00">{{ pdStat["total"] }}</b></h3>
                                </th>
                                <th width="300px">
                                    <h4>在研：<b>{{ pdStat["ing"] }}</b></h4>
                                </th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>资源综合</h2>
                        <hr>
                        <table>
                            <tr style="text-align:left">
                                <th width="20px">
                                </th>
                                <th width="300px">
                                    <h3>在册人数：<b style="color:#F00">{{ taskStat["persion_count"] }}</b>（人）</h3>
                                </th>
                                <th width="300px">
                                    <h4>占比：<b>{{ taskStat["persion_ratio"] }}</b>%</h4>
                                    <h5>注：指注册人数占公司在岗人数的比例。</h5>
                                </th>
                                <th width="300px">
                                    <h4>耗时：<b>{{ hrStat["cost_time"] }}</b>（工时）</h4>
                                    <h4>成本预估：<b style="color:#F00">{{ hrStat["cost"] }}</b>（万元）</h4>
                                    <h5>注：按人均每月{{ taskStat["cost_base"] }}（万元）计</h5>
                                </th>
                                <th width="300px">
                                    <h4>工作效率：<b>{{ hrStat['ratio'] }}</b>%</h4>
                                    <h5>注：工作效率 = 任务耗时 / 人员耗时 </h5>
                                </th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>任务综合</h2>
                        <hr>
                        <table>
                            <tr style="text-align:left">
                                <th width="20px">
                                </th>
                                <th width="300px">
                                    <h3>任务：<b style="color:#F00">{{ taskStat["total"] }}</b>（个）</h3>
                                </th>
                                <th width="300px">
                                    <h4>完成：<b>{{ taskStat["done"] }}</b>（个）</h4>
                                </th>
                                <th width="400px">
                                    <h4>耗时：<b>{{ taskStat["cost_time"] }}</b>（工时）</h4>
                                    <h4>成本预估：<b style="color:#F00">{{ taskStat["cost"] }}</b>（万元）</h4>
                                    <h5>注：按人均每月{{ taskStat["cost_base"] }}（万元）计</h5>
                                </th>
                                <th width="300px">
                                    <h4>完成率：<b>{{ taskStat['ratio'] }}</b>%</h4>
                                </th>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th width="200px">

                                </th>
                                <th width="300px">
                                    {{ persionTask | safe }}
                                </th>
                                <th width="200px">

                                </th>
                                <th width="300px">
                                    {{ dateTask | safe }}
                                </th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>差旅综合</h2>
                        <hr>
                        <table>
                            <tr style="text-align:left">
                                <th width="20px">
                                </th>
                                <th width="300px">
                                    <h3>差旅总数：<b style="color:#F00">{{ tripStat["total"] }}</b>（人次）</h3>
                                    <h3>总费用：<b style="color:#F00">{{ tripStat["totalcost"] }}</b>（万元）</h3>
                                </th>
                                <th width="300px">
                                    <h4>差旅费（借款）：<b>{{ tripStat["loan"] }}</b>（万元）</h4>
                                </th>
                                <th width="300px">
                                    <h4>机票费：<b>{{ tripStat["ticket"] }}</b>（万元）</h4>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    {{ trip | safe }}
                                </td>
                                <td>
                                    {{ planeTicket | safe }}
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>考勤综合</h2>
                        <hr>
                        <table>
                            <tr>
                                <th width="300px">
                                    <h4>到岗：<b style="color:#F00">{{ checkStat['total'] }}</b>（人）</h4>
                                </th>
                                <th width="300px">
                                    {{ chkonam | safe }}
                                </th>
                                <th width="300px">
                                    {{ chkonpm | safe }}
                                </th>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <div id="wrap">
            <div id="subwrap"><b>版权：</b>中电科华云信息技术有限公司</div>
        </div>
    </body>

</html>
